* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: white;
}

header > h1 {
	padding: 5px;
	background-color: rgb(46, 149, 189);
	color: burlywood;
}

main {
	display: flex;
	height: 88vh;
	/* height: 87%; */
}

.left {
	padding: 5px 100px 5px 5px;
	background-color: rgb(53, 53, 245);
}

.link-item {
	min-width: 100px;
	padding: 5px;
	font-size: larger;
}

.right {
	display: flex;
	/* gap: 50px; */
	flex-wrap: wrap;
}

.title-item {
	width: 400px;
	margin: 20px;
	padding: 17px;
	border: solid 1px gainsboro;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

footer {
	position: fixed;
	width: 100%;
	background-color: gainsboro;
}

footer > h2 > a {
	color: brown;
}

footer > h2 {
	/* flex-grow: 1; */
	text-align: center;
	padding: 15px 0px;
}
